@charset "UTF-8";

.container.details-container {
	display: flex;
	padding: var(--container-vertical-py, 80px) var(--container-vertical-px, 40px);
	flex-direction: column;
	align-items: flex-start;
	gap: var(--spacing-5, 40px);
}

.details-header {
	display: flex;
	align-items: flex-start;
	gap: var(--spacing-1, 8px);
	align-self: stretch;
}

.order-title-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--spacing-05, 4px);
	flex: 1 0 0;
}

.order-title-top-line {
	display: flex;
	align-items: center;
	gap: 8px;
}

.status {
	display: flex;
	height: var(--label-height, 24px);
	min-width: var(--label-min-width, 24px);
	padding: 0px var(--label-px, 6px);
	justify-content: center;
	align-items: center;
	gap: var(--label-spacing, 6px);
	border-radius: var(--label-radius, 6px);
	background: var(--global-inherit-bgcolor, #1c252e);
	color: var(--global-inherit-color, #fff);
	text-align: center;
	font-size: var(--components-label-size, 12px);
	font-weight: var(--components-label-weight, 700);
	line-height: var(--components-label-line-height, 20px);
	/* 166.667% */
	width: fit-content;
}

.status.pending {
	background: var(--warning-16, rgba(255, 171, 0, 0.16));
	color: var(--swap-dark-light-warning, #b76e00);
}

.status.delivered {
	background: var(--success-16, rgba(34, 197, 94, 0.16));
	color: var(--swap-dark-light-success, #118d57);
}

.status.cancelled {
	background: var(--error-16, rgba(255, 86, 48, 0.16));
	color: var(--swap-dark-light-error, #B71D18);
}

.status.processing {
	background: var(--secondary-16, rgba(125, 157, 127, 0.16));
	color: var(--swap-dark-light-secondary, #4D6A50);
}

.status.shipped {
	background: var(--info-16, rgba(0, 184, 217, 0.16));
	color: var(--swap-dark-light-info, #006C9C);
}

.order-status {
	height: 36px;
	padding: 0px var(--button-md-px, 12px);
	border-radius: var(--button-radius, 8px);
	border: 1px solid var(--components-button-outlined, rgba(145, 158, 171, 0.32));
	background: white;
	font-weight: 700;
}

.details-customer-info-container {
	display: flex;
	align-items: flex-start;
	gap: var(--spacing-3, 24px);
	align-self: stretch;
	width: 100%;
}

.details-customer-info-container .details-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-end;
	border-radius: var(--card-radius, 16px);
	background: var(--background-paper, #FFF);
	box-shadow: var(--card-x1, 0px) var(--card-y1, 0px) var(--card-blur1, 2px) var(--card-spread1, 0px) var(--shadow-20, rgba(145, 158, 171, 0.20)), var(--card-x2, 0px) var(--card-y2, 12px) var(--card-blur2, 24px) var(--card-spread2, -4px) var(--shadow-12, rgba(145, 158, 171, 0.12));
}

.details-container .header {
	display: flex;
	padding: var(--card-header-py, 24px) var(--card-header-pr, 16px) var(--card-header-py, 24px) var(--card-header-pl, 24px);
	align-items: flex-start;
	gap: var(--card-header-spacing, 16px);
	align-self: stretch;
}

.details-container .items-list-container {
	display: flex;
	width: 100%;
	padding: 0px var(--card-content-p, 24px);
	flex-direction: column;
	align-items: flex-start;
	gap: var(--spacing-3, 24px);
}

.details-container .items-list-container .item-entry {
	display: flex;
	align-items: center;
	align-self: stretch;
}

.details-container .items-list-container .item-entry .item-image-title {
	display: flex;
	align-items: center;
	gap: var(--spacing-2, 16px);
	flex: 1 0 0;
}

.details-container .items-list-container .item-entry .item-image-title img {
	border-radius: 12px;
}

.divider {
	display: flex;
	height: 1px;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	border-bottom: 1px #D6D9DA dashed;
}

.order-details-total-container {
	display: flex;
	padding: var(--card-content-p, 24px) var(--card-content-p, 24px) var(--card-content-p, 24px) 0px;
	align-items: center;
}

.order-details-total-container .order-details-text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: var(--spacing-15, 12px);
}

.order-details-total-container .order-details-text-container.prices {
	width: 160px;
}

.customer-info-div {
	display: flex;
	max-width: 344px;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	border-radius: var(--card-radius, 16px);
	background: var(--background-paper, #FFF);
	box-shadow: var(--card-x1, 0px) var(--card-y1, 0px) var(--card-blur1, 2px) var(--card-spread1, 0px) var(--shadow-20, rgba(145, 158, 171, 0.20)), var(--card-x2, 0px) var(--card-y2, 12px) var(--card-blur2, 24px) var(--card-spread2, -4px) var(--shadow-12, rgba(145, 158, 171, 0.12));
}

.customer-info-div .header {
	display: flex;
	padding: var(--card-header-py, 24px) var(--card-header-pr, 16px) var(--card-header-py, 24px) var(--card-header-pl, 24px);
	align-items: center;
	gap: var(--card-header-spacing, 16px);
	align-self: stretch;
}

.customer-info-div .info-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
}

.customer-info-div .info-container .user-info-container {
	display: flex;
	padding: 0px var(--card-content-p, 24px) var(--spacing-3, 24px) var(--card-content-p, 24px);
	align-items: flex-start;
	gap: var(--spacing-2, 16px);
	align-self: stretch;
}

.shipping-header {
	display: flex;
	padding: var(--card-header-py, 24px) var(--card-header-pr, 16px) var(--card-header-py, 24px) var(--card-header-pl, 24px);
	align-items: flex-start;
	gap: var(--card-header-spacing, 16px);
	align-self: stretch;
}

.shipping-info-container {
	display: grid;
	grid-template-columns: auto 1fr;
	padding: 0px var(--card-content-p, 24px) var(--spacing-3, 24px) var(--card-content-p, 24px);
	flex-direction: column;
	align-items: flex-start;
	gap: var(--spacing-15, 12px);
	align-self: stretch;
}