@charset "UTF-8";

body {
  font-family: var(--family-primary);
  margin: 0;
  color: var(--text-primary);
  background: #fff;
}

/* Location Section */
.location-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 20px;
  height: 560px;
  color: #fff;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
 
}


.location-section h2 {
  font-family: var(--family-barlow);
  font-weight: var(--h1-weight);
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
  margin-bottom: 40px;
  max-width: 1100px;
  margin-inline: auto;
  text-align: left;
}

.location-section h2 span {
  color: var(--primary-main);
}

.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
  text-align: left;
}

.locations div {
  max-width: 240px;
}

.locations h3 {
  font-size: var(--h6-size);
  font-weight: var(--h6-weight);
  line-height: var(--h6-line-height);
  letter-spacing: var(--h6-letter-spacing);
  margin-bottom: 10px;
  color: #fff;
}

.locations p {
  font-size: var(--body2-size);
  font-weight: var(--body2-weight);
  line-height: var(--body2-line-height);
  color: #ddd;
  margin: 0;
}

/* Contact Section */
.contact-section {
  padding: 60px 20px;
  background-color: #f9f9f9;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 1100px;
  margin: 0 auto;
  gap: 200px;
}

.form-area {
  flex: 1 1 400px;
  max-width: 460px;
}

.form-area h2 {
  font-size: var(--h3-size);
  line-height: var(--h3-line-height);
  margin-bottom: 25px;
  color: var(--text-primary);
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

form input,
form textarea {
  width: 100%;
  border: none;
  color: var(--text-secondary);
  border-bottom: 1px solid var(--components-textfield-underline);
  background: transparent;
  font-size: var(--components-input-value-size);
  line-height: var(--components-input-value-line-height);
  padding-top: var(--textfield-standard-input-md-pt);
  padding-bottom: var(--textfield-standard-input-pb);
  font-family: var(--family-primary);
  outline: none;
}

form textarea {
  min-height: 80px;
  resize: vertical;
  padding-top: 10px;
  padding-right: 10px;
}

form input:focus,
form textarea:focus {
  border-bottom-color: var(--primary-main);
}

button {
  background-color: var(--primary-main);
  color: var(--primary-contrast-text);
  padding: 14px 28px;
  font-size: var(--components-button-large-size);
  font-weight: var(--components-button-large-weight);
  line-height: var(--components-button-large-line-height);
  border-radius: var(--button-radius);
  border: none;
  cursor: pointer;
  width: fit-content;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #b78b5d;
}

.map-area {
  flex: 1 1 400px;
  max-width: 460px;
  height: 400px;
}

.map-area iframe {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: none;
}

/* Responsive */
@media (max-width: 768px) {
  .locations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 100%;
    text-align: left;
    justify-items: start;
  }

  .location-section h2 {
    text-align: center;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .form-area,
  .map-area {
    max-width: 100%;
  }
}
 
 

